<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
        <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AlertController</servlet-name>
        <servlet-class>controller.AlertController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlertController</servlet-name>
        <url-pattern>/AlertController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.DashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/DashboardController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PollutantController</servlet-name>
        <servlet-class>controller.PollutantController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PollutantController</servlet-name>
        <url-pattern>/PollutantController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReadingController</servlet-name>
        <servlet-class>controller.ReadingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadingController</servlet-name>
        <url-pattern>/ReadingController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RoomController</servlet-name>
        <servlet-class>controller.RoomController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoomController</servlet-name>
        <url-pattern>/RoomController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RuleController</servlet-name>
        <servlet-class>controller.RuleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RuleController</servlet-name>
        <url-pattern>/RuleController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SensorController</servlet-name>
        <servlet-class>controller.SensorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SensorController</servlet-name>
        <url-pattern>/SensorController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>ViewController</servlet-name>
        <servlet-class>controller.ViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewController</servlet-name>
        <url-pattern>/ViewController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
